extends layout

block content
  h1= title
  p Select #{title}
  div
    a(href="/push") PUSH
  div
    a(href="/pull") PULL
  div
    a(href="/leg") LEG


//doctype html
//html(lang='en')
//  head
//    title Book Recommandations
//    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
//    script(src='https://unpkg.com/htmx.org@1.5.0')
//    style.
//      body {padding: 20px}
//      table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}
//      tr.htmx-swapping td {opacity: 0;transition: opacity 0.5s ease-out;}
//      td, th {border: 1px solid #383737;text-align: left;padding: 8px;}
//      tr:nth-child(even) {background-color: #dddddd;}
//
//    body
//      h1 Book Recommendations

