extends layout

block content
    h1 Workout
    p Lowerbody
    div.sect
        div.sect-header Leg
        div Squat
        div Deadlift
        div Leg Press
        div Leg Curls
        div Hanging Leg Raise
    div.sect
        div.sect-header Abs
        div Crunches
        div X
        div Butterflys
        div Leg Curls
        div Calf Raise