extends layout

block content
    h1 Workout
    p Select #{title} Workout
    div.sect
        div.sect-header Back
        div Deadlift*
        div Bent-Over Row
        div Pull-up*
        div T-Bar Row*
        div Seated Row
        div Lat Pull-Down*
        div Single-Arm Dumbbell Row
        div Dumbbell Pull-Over*
        div Chest-Supported Row
    div.sect
        div.sect-header Traps
        div Shoulder Shrug
        div The High Pull
        div Single-Arm Dumbbell Upright Row
        div Modified Bent-Over Duel Cable Low Pulley Shoulder Fly
        div Low-Cable Face Pull
    div.sect
        div.sect-header Bicepts
        div Barbell or EZ-Bar Curl
        div Cable Curl
        div Dumbbell Curl
        div Chin-Up
        div Reverse-Grip Barbell Row
        div Hammer Curl
        
