extends layout

block content
    h1 Workout
    p #{title}
    div.sect
        div.sect-header Chest
        div Bench Press
        div Fly
        div Dumbell Bench
        div Dips
        div Incline bench
    div.sect
        div.sect-header Shoulders
        div Overhead press
        div Military Press
        div Land mine press
        div Reverse fly
        div Face pull
        div Front raise
    div.sect
        div.sect-header Tricepts
        div Dips
        div Cable Extensions
        div Overhead extensions
        div Close Grip
        div Diamond push up