body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  font-size: 6rem;
}

a {
  color: #00B7FF;
}

.sect {
  padding-top: 20px;
}

.sect-header {
  text-decoration: underline;
}

